@import "../../../assets/scss/variables";

.card-login-container {
  background: $login-background no-repeat fixed right top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
  // width: 100vw;
  background-color: white;
  height: 100%;

  .container {
    .card-login-logo {
      margin-top: 2%;
      width: 25%;
    }
    .title-container {
      padding-left: 0;
    }
    .card-login-container-info {
      margin: 0 auto;
      padding-top: 4%;

      .card-login-title {
        color: $dark-yellow;
        font-size: $size-25;
        font-stretch: normal;
        letter-spacing: -0.5px;
        @media (max-width: 480px) {
          font-size: $size-22;
          line-height: 1.4;
        }
      }
      .card-login-form-info {
        -webkit-box-shadow: inset -20px -3px 73px -16px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: inset -20px -3px 73px -16px rgba(0, 0, 0, 0.58);
        box-shadow: inset -20px -3px 73px -16px rgba(0, 0, 0, 0.58);
        border-radius: 10px 0px 0px 10px;
        -moz-border-radius: 10px 0px 0px 10px;
        -webkit-border-radius: 10px 0px 0px 10px;
        border: 0px solid #000000;
        background-color: rgba(245, 247, 249, 0.94);

        @media (max-width: 992px) {
          display: none;
        }
      }
      .card-login-form-container {
        background-color: $dark-white;
        border-radius: 0px 10px 10px 0px;
        border: 0px solid #000000;
        .card-container-body {
          padding: 60px 25px 20px 110px;
        }
        @media (max-width: 992px) {
          border-radius: 10px;
          width: 100%;
          .card-container-body {
            padding: 20px;
          }
        }
      }
      .progres{
        margin:  0 auto;
        // display: none;
        top:50%;
      }
    }

    .card-login-footer {
      margin-top: 3%;
      .container-icons-footer {
        margin: 0 auto;
        background-color: $dark-white;
        border-radius: 10px;
        max-width: 670px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 50px;

        .icon {
          display: flex;
          align-items: center;
          p {
            font-size: 14px;
            margin-bottom: 0;
            margin-left: 5px;
          }
          img {
            width: auto;
            height: 24px;
          }
        }
        @media (max-width: 640px) {
          border-radius: 10px;
          .icon {
            display: block;
            line-height: normal;
            padding: 20px 0;
            text-align: center;
            p {
              margin-left: 0;
            }
            img {
              margin-bottom: 5px;
            }
          }
        }
      }

      .footer-text {
        display: flex;
        max-width: 1100px;
        font-family: $font-family-Nunito;
        margin: 15px auto;
        color: $dark-white;
        text-align: center;
        font-size: $size-13;
        line-height: normal;
        @media (max-width: 480px) {
          font-size: $size-11;
        }
      }
      .copyright {
        text-align: center;
        color: $dark-white;
        font-size: $size-14;
      }
    }
  }
}

.siteData {
  width: 223px;
  height: 19px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

